

:root {
    --primary-color: #fff; /* white */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: rgb(20, 25, 88); /* dark blue */
    --heading-font: "Times New Roman" "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 1025px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: var(--accent2-color);
    text-align: center;
    color: var(--primary-color);
    margin: 1px;
    padding: 5px;
}

nav, p, section, article {
    margin: 1px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    height:min-content;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text */
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    opacity: 0.8;
}